

    body {
      margin: 0;
    }

    

    .header-container {
      display: flex;
      flex-wrap: wrap;
    }
    p{
        color: black;
        text-align: left;
    }
  .contact-container{
    margin: 50px;
    color:burlywood;
  }  
  .col i {
    font-size: 20px;
    background-color: green;
    transition: all;
  }
  .footer{
      font-size: small;
      background-color: yellow;
      color: crimson;
  }


    